* {
  font-family: Poppins;
  font-size: 18px;
  color: #fff;
}
body {
  box-sizing: border-box;
  height: 4600px;
  margin: 4rem 4rem 4rem 5rem;
  background: url('../image/1920/BG-1.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  background-color: #0B1D26;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  height: 17px;
}
header a {
  text-decoration: none;
}
header :nth-child(2) {
  display: flex;
  gap: 1.5rem;
}
header :nth-child(3) {
  display: flex;
}
hr {
  display: inline-block;
  width: 3.8rem;
  margin-left: 0.15rem;
  color: #FBD784;
}
.title {
  margin: 10rem 22.5rem 39.7rem 22.5rem;
}
h1 {
  font-family: Playfair Display;
  font-size: 88px;
  font-weight: 600;
  margin: 0.8rem 0 0 0.4rem;
  line-height: 100px;
}
h1+div {
  margin: 0.8rem 0 0 0.3rem;
  font-weight: 700;
}
h1+div>p {
  display: inline-block;
}
.title p+img {
  margin-left: 0.2rem;
}

main>div {
  margin: 0 8rem 0 8rem;
}
.text {
  margin: 9.5rem 0 0 -0.5rem;
  width: 632px;
  padding-left: 8rem;
}
.paragraph {
  position: absolute;
  left: 0;
  top: -20px;
  font-weight: 700;
  font-size: 240px;
  width: 240px;
  height: 240px;
  opacity: 10%;
}
.mark1,.mark2 {
  display:inline-block;
  color: #FBD784;
  font-weight: 800;
  letter-spacing: 6px;
}
.mark1 {
  padding-left: 2rem;
}
.mark2 {
  padding-left: 1.4rem;
}
.follow p {
  display: inline-block;
  margin-top: 0.5rem;
  color: #FBD784;
}

section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 11rem;
  height: 720px;
}
.section_content {
  position: relative;
}
main>div>:nth-child(2) {
  flex-direction: row-reverse;
}

h2 {
  font-weight: 600;
  font-size: 64px;
  line-height: 96px;
  margin: 0.5rem 0 1.5rem 0;
  width: 540px;
}
main>div>:nth-child(3) h2 {
  width: 555px;
}
.desc {
  font-weight: 700;
  line-height: 32px;
}

footer {
  margin: 0 8rem 0 8rem;
}
footer>div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 200px;
  align-content: flex-start;
}
footer>div :first-child {
  margin-top: 0.2rem;
}
footer img+p {
  display: block;
  width: 350px;
  line-height: 32px;
}
footer ul {
  margin-top: 0;
}
footer li {
  list-style: none;
  margin: 0 0 1.2rem -2.1rem;
}
footer ul :last-child {
  margin-bottom: 4rem;
}
footer h3 {
  line-height: 32px;
  font-size: 24px;
  font-weight: 700;
  color: #FBD784;
}
.copy {
  font-weight: 400;
  opacity: 50%;
  margin-top: -3rem;
}

